<!-- Page Content -->
<div id="content" class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Novidades
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Regulamento</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Resultados</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Cronograma</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row image">
        <div class="col-lg-12">
            <h2 class="page-header">Fotos</h2>
        </div>
        <div class="col-md-4 col-sm-6" data-ng-repeat="image in images | orderBy:'-post_date':reverse | limitTo:limit">
            <a href="" data-ng-click="open(image)">
                <img class="img-responsive img-portfolio img-hover" data-ng-src="{{image.guid}}" title="{{image.post_name}} em {{image.post_date | date}}">
            </a>
        </div>
        <div class="col-lg-12">
            <a href="" id="mais-fotos" class="btn btn-danger pull-right" data-ng-click="maisFotos()">+ Fotos</a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Campeonato com Qualidade!</h2>
        </div>
        <div class="col-md-6">
            <p>O "RACING DAY NORDESTE" é um campeonato de motovelocidade onde movimenta o NORTE e NORDESTE do Brasil, estamos no mercado há (nove) anos atuante nessa região onde temos para essa prática de esporte apenas dois autódromos, Eusébio-CE e Caruaru-PE. O RACING DAY NORDESTE, tem várias categorias e modalidades:</p>
            <ul>
                <li><strong>SBK 1000 PRO</strong>: pilotos veteranos com motos bem preparadas
                </li>
                <li><strong>STK 1000</strong>: pilotos que estão iniciando</li>
                <li><strong>SS 600 PRO</strong>: pilotos veteranos com motos bem preparadas</li>
                <li><strong>STK 600</strong>: pilotos que estão iniciando</li>
                <li><strong>Copa Nordeste Ninja 300cc</strong>: pilotos veteranos com motos bem preparadas</li>
                <li><strong>250 PRO</strong>: pilotos veteranos com motos bem preparadas</li>
                <li><strong>STK 250</strong>: pilotos que estão iniciando</li>
            </ul>
            <p>No total são (sete) categorias com várias cilindradas com pilotos de todo Brasil, e estamos lançando a nova categoria AGB COPA JUNIOR, com pilotos de 11 a 15 anos, nessa categoria serão produzido os futuros e talentosos pilotos.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="images/rdn-grid.jpg" alt="Racing Day Nordeste Grid" title="Racing Day Nordeste Grid">
        </div>
    </div>
    <hr />
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="mb-xl text-center">
                    <img  src="http://racingdaynordeste.com.br/wp-content/themes/simplenbright/library/images/cbm.jpg"/>
                    <img  src="http://racingdaynordeste.com.br/wp-content/themes/simplenbright/library/images/fepem.jpg"/>
                    <img  src="http://racingdaynordeste.com.br/wp-content/themes/simplenbright/library/images/pirelli.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>

