<!-- Navigation -->
<nav id="navbar" class="navbar navbar-fixed-top nav-custom" role="navigation">
    <div class="container">
        <a class="navbar-brand hidden" href="#">RACING DAY NORDESTE</a>
        <img src="images/rdn-gp-brand.png" class="img-responsive brand-rdn"/>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <a class="navbar-brand" href=""></a>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Início</a>
                </li>
                <li>
                    <a href="" data-ng-click="goTo('servicos')">Serviços</a>
                </li>
                <li>
                    <a href="/about">Contato</a>
                </li>
                <li>
                    <a href="contact.html">Pilotos</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resultados <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="resultados({idCategoria: '7'})">250/300 PRO</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '6'})">250/300 STK</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '5'})">Copa Ninja 300cc</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '4'})">600 STK</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '3'})">600 SS PRO</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '2'})">1000 STK</a>
                        </li>
                        <li>
                            <a ui-sref="resultados({idCategoria: '1'})">1000 SBK Pro</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide"  data-ride="carousel">
    
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="http://api.racingdaynordeste.com.br/wp-content/uploads/2015/12/2015-1000stk-e1449801968764.jpg" class="fill">
            <div class="carousel-caption">
                <h2><a href="">1000 STK</a></h2>
            </div>
        </div>
        <div class="item">
            <img src="http://api.racingdaynordeste.com.br/wp-content/uploads/2015/12/2015-600pro-e1449804080410.jpg" class="fill">
            <div class="carousel-caption">
                <h2><a href="">600 SS Pro</a></h2>
            </div>
        </div>
        <div class="item">
            <img src="http://api.racingdaynordeste.com.br/wp-content/uploads/2015/12/2015-cninja-e1449804021950.jpg" class="fill">
            <div class="carousel-caption">
                <h2><a href="">Copa Ninja 300 de Motovelocidade</a></h2>
            </div>
        </div>
        <div class="item active">
            <img src='http://api.racingdaynordeste.com.br/wp-content/uploads/2015/12/2015-250stk-e1449804135283.jpg' class="fill" >
            <div class="carousel-caption">
                <h2><a href="">250/300 STK</a></h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
});

//var targetOffset = $(".carousel-indicators").offset().top;
var targetOffset = $(".container").offset().top;

var $w = $(window).scroll(function(){
    if ( $w.scrollTop() > targetOffset ) {   
        $('#navbar').fadeIn('slow', function() {
            $('#navbar').addClass('navbar-inverse');
            $('#navbar').removeClass('nav-custom');
            $('.brand-rdn').fadeOut();
            $('.navbar-brand').removeClass('hidden');
        })
    } else {
        $('#navbar').fadeIn('slow', function() { 
            $('#navbar').removeClass('navbar-inverse');
            $('#navbar').addClass('nav-custom');
            $('.brand-rdn').fadeIn();
            $('.navbar-brand').addClass('hidden');
        })
    }
});
</script>